/* .card_container{
    width:500px;
    max-height: 150px;
  display: flex;
  position: realtive;
margin-left: 80px;
  color:grey;
padding-left: 8px;
font-size: 20px;
border-radius: 30px;
}  */
.card_container:hover{
     color: white;
     cursor: pointer;
     background: rgb(24, 23, 23);
     
} 

.search-icon {
  position: relative;
  height: 20px;
  padding: 20px;
  top: -55px;
  left: 450px;
}

.loader-icon {
  width: 50px;
  top: -130px;
  left: 410px;
  position: relative;
  background-color: transparent;
  /* border: 1px solid; */
}

.closer {
  position: relative;
  color: white;
  /* border:10px solid red; */
  top: -100px;
  left: 390px;
  width: 50px;
}
